.left_div 
{
    float: left;
    padding-right: 20px;
}
.right_div
{
    float: right;
    padding-left: 20px;
}
.menu_div ul
{
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	list-style:none;
	text-indent:15px;
        float:left;
        //width:180px;
        width : 100%;
}
.menu_div ul li
{
	background:#3f3f3f;
	line-height:28px;
        border-bottom:1px solid #333;
        border:1px solid;
        border-radius:25px;
}
.menu_div ul li a
{
	text-decoration:none;
	color:#FFF;
	display:block;
        border:0px solid;
        border-radius:25px;
}
.menu_div ul li a:hover
{
	background:#d40203;
}
.menu_div ul li#active
{
	background:#d40203;
}
.center_div
{
  margin-left: 120px;
  padding-left:100px;
}